version: '3.0'
name : "api-auth"
services:

  api:
    image: node:alpine
    container_name: api-nodejs-auth
    command: "npm run watch"
    working_dir: /usr/src/app
    env_file:
      - .env
    ports:
      - "3333:3000"
    volumes:
      - ./api:/usr/src/app
    networks:
      - api_network
    depends_on:
      - db
    links:
      - db
  db:
    image: mariadb:latest
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - ./db/data:/var/lib/mysql #synchronise le répertoire local ./db/data avec le répertoire du container /var/lib/mysql
      - ./db/sql:/docker-entrypoint-initdb.d #initialise la base de données à l'aide des fichiers SQL présents dans le volume local ./db/sql
    networks:
      - api_network
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    env_file:
      - .env
    ports:
      - "8080:80"
    networks:
      - api_network
    depends_on:
      - db
    links:
      - db
networks:
  api_network:
    driver: bridge
